body{
    padding: 40px 40px;
}
#one{
    background-color: hsl(142.64deg 36.55% 28.43%);
    text-align: center;
    border-bottom: 25px solid white;
}
#two{
    background-color: hsl(2.56deg 66.67% 51.76%);
    border-bottom: 25px solid white;
}
#three{
    background-color: hsl(2.56deg 66.67% 51.76%);
    border-bottom: 25px solid white;
}
#maya{
    height:40px;
    width:40px;
}
#social{
    height:20px;
    width:150px;
}
h1{
    font-size: 40px;
    font-family: Arial;
    font-weight: lighter;
    color:white;
}
p{
    font-family: Arial;
    font-weight: lighter;
    color:white;
}
footer{
    border-top: 2px solid lightgray;
   
}
#copyright{
    color: black;
}